<extend name="Base/common"/>
<block name="body">
    <div class="row">
        <div class="col-md-4 text-center"><img style="margin-top: 20px"
                                               src="__ROOT__/Public/static/images/mbti-author.gif"
                                               alt="MBTI理论模型奠基者：荣格与迈尔斯母女"
                                               class="img-thumbnail"><br/><span>MBTI理论模型奠基者：荣格与迈尔斯母女</span></div>
        <div class="col-md-8">
            <h3>什么是MBTI</h3>
            <p>MBTI的全名是Myers-Briggs Type
                Indicator。它是一种迫选型、自我报告式的性格评估理论模型，用以衡量和描述人们在获取信息、作出决策、对待生活等方面的心理活动规律和性格类型。</p>
            <p>
                该指标以瑞士心理学家荣格划分的8种类型为基础，经过二十多年的研究后，编制成了《迈尔斯-布里格斯类型指标》，从而把荣格的类型理论付诸实践。迈尔斯在荣格的优势功能和劣势功能、主导功能和从属功能等概念的基础上，进一步提出功能等级等概念，并有效的为每一种类型确定了其功能等级的次序，又提出了类型的终生发展理论，形成四个维度。约翰.毕比博士在《类型与原型》中，将心理类型理论和原型理论系统地结合在一起。</p>
            <p>
                MBTI职业性格测试是国际最为流行的职业人格评估工具，作为一种对个性的判断和分析，是一个理论模型，从纷繁复杂的个性特征中，归纳提炼出4个关键要素——动力、信息收集、决策方式、生活方式，进行分析判断，从而把不同个性的人区别开来。</p>
        </div>


    </div>

    <div class="row">
        <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
            <h4>性格是什么？怎样对性格进行分类？</h4>
            <p>心理学认为，“性格”是一种个体内部的行为倾向，它具有整体性、结构性、持久稳定性等特点，是每个人特有的，可以对个人外显的行为、态度提供统一的、内在的解释。
                MBTI把性格分析4个维度，每个维度上的包含相互对立的2种偏好：(如图一) </p>

            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered" style="width:300px" align="center">
                        <caption align="bottom" class="text-center">
                            (表一。4个维度8种人格特质)
                        </caption>
                        <tbody>
                        <tr>
                            <td class="text-right"> 外向 <img src="__ROOT__/Public/static/images/mbti-e.gif"
                                                            align="absmiddle">
                            </td>
                            <td class="text-left"><img src="__ROOT__/Public/static/images/mbti-i.gif" align="absmiddle">
                                内向
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"> 感觉 <img src="__ROOT__/Public/static/images/mbti-s.gif"
                                                            align="absmiddle">
                            </td>
                            <td class="text-left"><img src="__ROOT__/Public/static/images/mbti-n.gif" align="absmiddle">
                                直觉
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"> 思考 <img src="__ROOT__/Public/static/images/mbti-t.gif"
                                                            align="absmiddle">
                            </td>
                            <td class="text-left"><img src="__ROOT__/Public/static/images/mbti-f.gif" align="absmiddle">
                                情感
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"> 判断 <img src="__ROOT__/Public/static/images/mbti-j.gif"
                                                            align="absmiddle">
                            </td>
                            <td class="text-left"><img src="__ROOT__/Public/static/images/mbti-p.gif" align="absmiddle">
                                感知
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered text-center" align="center">
                        <caption align="bottom" class="text-center">
                            (表二。8种特质共匹配出16种性格)
                        </caption>
                        <tbody>
                        <tr style="height: 50px" bgcolor="#fffdee">
                            <td>ISTJ</td>
                            <td>ISFJ</td>
                            <td>INFJ</td>
                            <td>INTJ</td>
                        </tr>
                        <tr style="height: 50px" bgcolor="#fffdee">
                            <td>ISTP</td>
                            <td>ISFP</td>
                            <td>INFP</td>
                            <td>INTP</td>
                        </tr>
                        <tr style="height: 50px" bgcolor="#fffdee">
                            <td>ESTP</td>
                            <td>ESFP</td>
                            <td>ENFP</td>
                            <td>ENTP</td>
                        </tr>
                        <tr style="height: 50px" bgcolor="#fffdee">
                            <td>ESTJ</td>
                            <td>ESFJ</td>
                            <td>ENFJ</td>
                            <td>ENTJ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <p>
                其中，“外向E——内向I”代表着各人不同的精力（Energy）来源；“感觉S—直觉N”、“思考T—情感F”分别表示人们在进行感知（Perception）和判断（Judgement）时不同的用脑偏好；“判断J—感知P”针对人们的生活方式（Life
                Style）而言，它表明我们如何适应外部环境——在我们适应外部环境的活动中，究竟是感知还是判断发挥了主导作用。</p>
            <p>4个维度上特定偏好的组合就构成一种特定的性格，譬如ISTJ代表“内向—感觉—思考—判断”型性格，ENFP则代表“外向—直觉—情感—感知”型性格。由此可知，性格一共有16种不同的大的性格类型(如图二)。 </p>

            <p>每一种性格类型都具有独特的行为表现和价值取向。了解性格类型是寻求个人发展、探索人际关系的重要开端。 </p>
        </div>

        <div class="bs-callout bs-callout-danger" id="callout-input-needs-type">
            <h4>MBTI有什么用</h4>
            <p>
                MBTI是当今世界上应用最广泛的性格测试工具之一。它已经被翻译成近20种世界主要语言，每年的使用者多达200多万。据有关统计，世界前100强公司中已有89%引入了MBTI，用于员工和管理层的自我发展、提升组织绩效等各个领域。</p>
            <p>
                MBTI向我们揭示了性格类型的多样性和由此导致的不同个体之间行为模式、价值取向的差异性：性格类型深刻影响着我们观察事物的角度、思考问题的方式、决策的动机、工作中的行事风格，乃至人际交往中的习惯与喜好；不同性格的人在相同的境遇中或者面对相同问题时往往做出截然不同的反应，这很容易成为各种误解、矛盾的导火线，甚至引爆一场信任危机，严重危害团队的合作与绩效——如何看待人与人的差异，在工作中求同存异？如何突破人际交往的“性格壁垒”，因人而异地开展交流与沟通？每一种性格类型都表现出独特的行为特征，为个人带来不同的能力优势与局限——怎样扬长避短，为最合适的人安排最合适的工作？每个人具有哪些能力优势与局限？怎样根据性格类型找到最佳的职业定位、规划未来的职业发展？在一个团队中可能聚集着各种性格类型的成员，不同性格类型的碰撞与对话最终将合成整个团队的性格——领导者将如何优化团队成员的性格配置，组建一支精诚合作的高效团队？团队成员怎样才能更好地融入集体，避免性格冲突，提升工作绩效？MBTI从性格类型入手，引导我们认识自己、理解他人，在工作中建立自信并相互信任，从而更富成效地开展合作，也为个人发展铺就最佳途径。</p>
        </div>

        <div class="bs-callout bs-callout-warning" id="callout-tables-responsive-overflow">
            <h4>如何正确使用MBTI</h4>
            <p>
                MBTI的第一张量表于1942年问世，之后不断修订、完善，至今已升级了10多个版本。值得一提的是，仅仅在30多年前，MBTI量表还只对接受过专门训练的心理学家开放。事实上，在MBTI的设计中包含着一整套严格的施测流程和行为规范——
            <ul>
                <li>
                    第1步　调整心态：MBTI只测试性格类型，而不同性格类型之间没有优劣之分，测试结果也将对其他人严格保密；请放松心情，最大限度地摆脱工作、家庭等外部环境的压力，尽量展现真实的自我。
                </li>
                <li>
                    第2步　受测者了解MBTI的测试目标、基本思路和主要内容。
                </li>
                <li>
                    第3步　答问题卷：受测者尽管按照自己的理解答题，也可以跳过模棱两可的问题不答，但是不应与其他人讨论。
                </li>
                <li>
                    第4步　答卷计分并比较：受测者将初步测试结果与以前的自我感觉相比较，并且对两者的差别及其成因做出思考。
                </li>
                <li>
                    第5步　阅读完整分析报告描述：受测者阅读并思考MBTI提供的性格类型描述，尽可能明确自己的性格类型。
                </li>
            </ul>
            </p>
        </div>

        <div class="bs-callout bs-callout-info" id="callout-formgroup-inputgroup">
            <h4>MBTI的意义</h4>
            <p>MBTI可以帮助我们认清自己，但是并不剥夺我们认知的自由，把结论强加于人；
            </p>
            <p>
                MBTI可以有效地评估我们的性格类型；引导我们建立自信，信任并理解他人；进而在职业定位和发展、团队建设、领导力人格基础发展、人际工作关系、员工素质、组织内部沟通以及跨文化企业管理等领域为我们提供前所未有的帮助——当然，前提是规范而富有技巧地使用MBTI，决非随心所欲地滥用；
            </p>
            <p>
                MBTI已经得到广泛应用而且在实践中行之有效，而这有赖于每一位测试者恪守施测流程和测试中的行为规范。只有这样，MBTI才能真正帮助人们发现自我。
            </p>

            <button type="button" class="btn btn-primary" id="btnBegin">开始MBTI测试</button>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#btnBegin").on("click",function () {
                window.location.href= "{:U('mbti')}";
            });

            $(".navbar-nav li").removeClass("active");
            $(".navbar-nav #liabout").addClass("active");
        });
    </script>
</block>