<extend name="Base/common"/>
<block name="body">

    <div id="main" class="container">
        <div class="row">
            <input type="hidden" id="topicNumber" name="topicNumber">
            <div id="topicTitle" name="topicTitle">题目载入中</div>
        </div>
        <div class="row">
            <div id="topicChoiceA" name="topicChoiceA">A</div>
        </div>
        <div class="row">
            <div id="topicChoiceB" name="topicChoiceB">B</div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" value="5" class="btn btn-success">强A</button>
                <button type="button" value="4" class="btn btn-info">中A</button>
                <button type="button" value="3" class="btn btn-secondary">弱A</button>
                <button type="button" value="2" class="btn btn-light">弱B</button>
                <button type="button" value="1" class="btn btn-warning">中B</button>
                <button type="button" value="0" class="btn btn-danger">强B</button>
            </div>
        </div>
    </div>
    <div id="waiting" style="display: none" class="container">
        本次测试已经完成，测试结果正在汇总计算中。。。
    </div>


    <script type="application/javascript">
        $(document).ready(function () {
            //1.页面第一次打开的时候，给页面载入题目
            //先将所有题目都载入cookie（如果题目cookie不存在的话），再从cookie中加载最后一道题到页面上

            var lastTopicNumber = $.cookie("lastTopicNumber");
            //alert(lastTopicNumber);
            if(!lastTopicNumber){
                lastTopicNumber = 0;
            }
            if (lastTopicNumber == "undefined" || lastTopicNumber == undefined) {
                lastTopicNumber = 0;
            }

            changePageContent(lastTopicNumber);

            //2.为按钮绑定事件
            $('button').on('click', function () {
                //以下1和2步骤都是从cookie读取内容
                //0.alert(this.value);
                //1. 保存当前题目的 题号和选择的答案值
                var topicNumber = $("#topicNumber").val();
                $.cookie("lastTopicNumber", topicNumber);
                var topicAnswer = this.value;
                //alert(topicNumber + " - " + topicAnswer);
                saveAnswer(topicNumber, topicAnswer);
                changePageContent(topicNumber);
            })
        });

        function waiting() {
            $("#waiting").attr("style","display:block");
            $("#main").attr("style","display:none");
        }

        function saveAnswer(topicNumber, topicAnswer) {
            var answerGuid = $.cookie("lastAnswerGuid");
            $.ajax({
                url: "{:U('saveAnswer')}",
                data: {topicNumber: topicNumber, topicAnswer: topicAnswer, answerGuid: answerGuid}
            });
        }

        function changePageContent(currentTopicNumber) {
            if(parseInt(currentTopicNumber)>= 48){
                //2.0 加载等待页面
                waiting();
                //2.1 保存 用户的考试信息（Answer）
                var lastAnswerGuid = $.cookie("lastAnswerGuid");

                $.ajax({
                    url: "{:U('updateAnswer4Client')}",
                    data: {answerGuid: lastAnswerGuid},
                    dataType: "json",
                    success: function (data, textStatus) {
                        //alert(lastAnswerGuid);
                        mathordPara= 'answerGuid='+ lastAnswerGuid;
                        targetUrl = "{:U('mbtiResult')}&"+ mathordPara;
                        //alert(targetUrl);
                        window.location.href= targetUrl;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });

                //2.2 跳转页面到 结果呈现页
            }else{
                //2.5 载入下一个题目（包括题号和题目内容）
                loadTopic(parseInt(currentTopicNumber) + 1);
            }
        }

        function loadTopic(topicNumber) {
            $.ajax({
                url: "{:U('getTopic4Client')}",
                data: {topicNumber: topicNumber},
                dataType: "json",
                success: function (data, textStatus) {
                    data= JSON.parse(data);
                    var topicnumber = data["topicnumber"];
                    var topictitle = data["topictitle"];

                    $("#topicNumber").val(topicnumber);
                    $("#topicTitle").html(topicnumber + ". " + topictitle);

                    var choices = data['choices'];
                    var choiceA = choices[0];
                    var choiceB = choices[1];
                    $("#topicChoiceA").html("A. " + choiceA['choicecontent']);
                    $("#topicChoiceB").html("B. " + choiceB['choicecontent']);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }
    </script>
</block>
