<extend name="Base/common"/>
<block name="body">
    <div class="container theme-showcase" role="main">

        <div class="row">
            <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                <h4>{$examTitle}</h4>
                <p>{$examSubTitle}</p>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">个性特征描述</h3>
                </div>
                <div class="panel-body">
                    {$gxtz}
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">功能运用</h3>
                </div>
                <div class="panel-body">
                    {$gnyy}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">问题解决方式</h3>
                </div>
                <div class="panel-body">
                    {$wtjj}
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">工作中的优势</h3>
                </div>
                <div class="panel-body">
                    {$gzys}
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">工作中的劣势</h3>
                </div>
                <div class="panel-body">
                    {$gzls}
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">对组织的贡献</h3>
                </div>
                <div class="panel-body">
                    {$zzgx}
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">潜在缺陷</h3>
                </div>
                <div class="panel-body">
                    {$qzqx}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">适合的岗位特质</h3>
                </div>
                <div class="panel-body">
                    {$shgw}
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">职业类型——您适合的职业</h3>
                </div>
                <div class="panel-body">
                    {$zylx}
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">可能盲点</h3>
                </div>
                <div class="panel-body">
                    {$czmd}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">个人发展建议</h3>
                </div>
                <div class="panel-body">
                    {$grfz}
                </div>
            </div>
        </div>
    </div>
</block>