<extend name="Base/common"/>
<block name="body">
    <div class="row">
        <div class="col-md-4 text-center"><img style="margin-top: 20px"
                                               src="__ROOT__/Public/static/images/emotion-author.jpg"
                                               alt="理查德·戴维森博士和他的著作《大脑的情绪生活》"
                                               class="img-thumbnail"><br/><span>理查德·戴维森博士和他的著作《大脑的情绪生活》</span></div>
        <div class="col-md-8">
            <h3>什么是情绪风格</h3>
            <p>
                为什么一些人遭遇挫折的时候可以迅速振作，而另一些人却会陷入绝望？为什么一些人善解人意似有读心术，而另一些人绞尽脑汁也无法猜透别人的心？为什么一些人总是神采奕奕，而另一些人却总是郁郁寡欢？先锋科学家、当世神经学与心理学权威理查德·戴维森在《大脑的情绪生活：大脑如何影响我们的思想、感受和生活》中回答了上面的问题。他提出了一种全新的人类情绪模型，为我们揭示了情绪的起源、情绪的力量以及情绪可塑性的奥秘。</p>
            <p>
                本书开创性地将大脑结构与情绪风格联系起来，认为情绪并非大脑中一些琐屑的现象，对于情绪的控制也并非大脑边缘系统的专有职责，相反，高度进化的前额皮质对情绪有决定性影响。这是一本革命性的原创科学著作，它将改变你看待自身的方式，提升你的幸福感，让你找到更多生活的意义。</p>
            <p>
                本测试以理查德·戴维森博士的本著作提供的理论为基础，进行汇编生产。</p>
        </div>
    </div>

    <div class="row">
        <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
            <h4>情绪风格的发现</h4>
            <p>为什么一些人遭遇挫折的时候可以迅速振作，而另一些人却会陷入绝望？为什么一些人善解人意似有读心术，而另一些人绞尽脑汁也无法猜透别人的心？为什么一些人总是神采奕奕，而另一些人却总是郁郁寡欢？</p>
            <p>先锋科学家、当世神经学与心理学权威理查德 · 戴维森在本书中回答了上面的问题。他提出了一种全新的人类情绪模型，为我们揭示了情绪的起源、情绪的力量以及情绪可塑性的奥秘。</p>
        </div>
        <div class="bs-callout bs-callout-danger" id="callout-input-needs-type">
            <h4>情绪风格的维度划分</h4>
            <p>
                戴维森发现，我们每个人的性格都包含六种基本的“情绪风格”：情绪调整能力、生活态度、社交直觉、自我觉察能力、情境敏感性，以及专注力（如表一、表二）。一个人的情绪特征就取决于他在每个情绪风格区间上的位置。戴维森还解释了每一种情绪风格背后的大脑活动模式，从而建立了一种新的情绪大脑的模型。这一发现具有深远影响，不但变革了对自闭症与抑郁症的治疗，还可以帮助我们每个人改造自己的大脑和情绪特征，主宰自己的情绪风格。
            </p>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered" style="width:300px" align="center">
                        <caption align="bottom" class="text-center">
                            (表一。6个维度12种特质的情绪风格)
                        </caption>
                        <tbody>
                        <tr>
                            <td class="text-right">敏锐
                            </td>
                            <td class="text-center">
                                情绪调整能力
                            </td>
                            <td class="text-left">
                                迟钝
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">积极
                            </td>
                            <td class="text-center">
                                生活态度
                            </td>
                            <td class="text-left">
                                消极
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">敏锐
                            </td>
                            <td class="text-center">
                                社交直觉能力
                            </td>
                            <td class="text-left">
                                迟钝
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">敏锐
                            </td>
                            <td class="text-center">
                                自我觉察能力
                            </td>
                            <td class="text-left">
                                迟钝
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">敏锐
                            </td>
                            <td class="text-center">
                                情景敏感能力
                            </td>
                            <td class="text-left">
                                迟钝
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">敏锐
                            </td>
                            <td class="text-center">
                                专注能力
                            </td>
                            <td class="text-left">
                                迟钝
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered text-center" align="center">
                        <caption align="bottom" class="text-center">
                            (表二。人类情绪风格的维度划分)
                        </caption>
                        <tbody>
                        <tr style="height: 50px" bgcolor="#fffdee">
                            <td><img src="__ROOT__/Public/static/images/emotion-deminsion.jpg" align="absmiddle"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="bs-callout bs-callout-info" id="callout-formgroup-inputgroup">
            <h4>情绪风格的使用意义</h4>
            <p>经过对哮喘病人的研究发现，压力可以让身体对过敏原的生理反应出现显著恶化。最敏感的哮喘患者在情绪调整这个维度上，靠近缓慢恢复这个水平，而自我觉察能力下降对哮喘患者有好处。
            </p>
            <p>
                大量的实验证明，积极情绪在很大程度上会对健康产生好的影响。具体说就是积极情绪能够直接作用于生理机能，抑制心血管系统、神经内分泌系统或者荷尔蒙系统，还能够提高生长激素、催乳素和催产素的水平，能够更有效地抗击感染，降低血压，所以，情绪风格不仅会影响你的生理系统，进而还能决定你的健康。
            </p>
            <p>
                值得注意的是，不存在理想的情绪风格，不需要刻意把自己变成某一种所谓理想型情绪风格的人。不过有时候一个人的情绪风格可能会过于极端，甚至影响了正常生活，这就进入了病态的范畴，就需要改变和调整了。
            </p>
        </div>
        <div class="bs-callout bs-callout-warning" id="callout-tables-responsive-overflow">
            <h4>如何正确识别自己的情绪风格</h4>
            <p>
                戴维森博士的研究带来了积极的讯息，他坚信大脑新皮质的前额叶区域所掌管的高级神经功理应对人类情绪有着决定性的影响，为此他和团队不懈努力，完成了大量实证研究。认为人的情绪风格有其固有的倾向——每个人在六个维度上虽然有与生俱来的独特位置，但是可以有目的地改变和调整的。其关注的焦点，是左前额叶和右前额叶两个区域的活动的抗衡和调整。他们发现，左区是控制乐观情绪的来源，而在右区的脑神经活动过于活跃地压制着左区的场合，人的情绪就会陷于悲观。为此建议，你为了更快乐，为了在你所选择的目标方向上做得更成功，就有必要加强“锻炼”，来增强自己的幸福感受。比如说，在本测试题目中情绪调整能力这个维度上画出的一条线，左端表示“缓慢恢复”（1），右端表示“迅速恢复”（10），一个人固有的情绪调整能力在4的位置上，那么是可以积极设法通过心理锻炼，把位置向右移到7的位置上的，要是他有心坚持这么做的话。
            </p>
            <button type="button" class="btn btn-primary" id="btnBegin">开始情绪风格测试</button>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#btnBegin").on("click", function () {
                window.location.href = "{:U('index')}";
            });

            $(".navbar-nav li").removeClass("active");
            $(".navbar-nav #liabout").addClass("active");
        });
    </script>
</block>