<extend name="Base/manage"/>
<block name="body">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">请选择对照指标：</div>
                    <select class="form-control" id="selectQuota">
                        <option value="I">内倾与外倾（I—E）</option>
                        <option value="S">感觉与直觉（S—N）</option>
                        <option value="T">思维与情感（T—F）</option>
                        <option value="J">判断与知觉（J—P）</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="row">

        <div class="col-md-6">
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 580px;height:420px;"></div></div>
        <div class="col-md-6">

                <h4>性格特征对照说明</h4>

    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-4">
        </colgroup>
        <thead>
        <tr>
            <th>{$dataA.nickname} {$dataA.name}</th>
            <th>{$dataB.nickname} {$dataB.name}</th>
        </tr>
        </thead>
        <tbody>
        <?php
            $arrayA= $dataA["featureArray"];
            $arrayB= $dataB["featureArray"];
            $countA= count($arrayA);
            for($i=0;$i<$countA;$i++){
                echo "<tr>";
                echo "<td>".$arrayA[$i]."</td>";
                echo "<td>".$arrayB[$i]."</td>";
                echo "</tr>";
            }
        ?>
        </tbody>
    </table>
        </div>
    </div>

    <script type="application/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        $(document).ready(function () {
            var quota= getQueryString("quotaName");
            if(!quota){
                quota="I";
            }
            $("#selectQuota").val(quota);

            $("#selectQuota").on("change", function () {
                window.location.href= "{:U('compare')}" + "&quotaName=" + this.value;
            });
        });
    </script>

    <script src="__ROOT__/Public/static/echarts/4.2.0/echarts.common.min.js" type="application/javascript"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        option = {
            title : {
                text: '性格类型得分情况人员对比',
                subtext: '',
                x:'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                },
                show: false
            },
            xAxis: [
                {
                    type: 'value',
                    //将X坐标轴上的负值转换为正值显示
                    axisLabel: {
                        formatter: function (value, index) {
                            if (value < 0) {
                                return -value;
                            } else {
                                return value;
                            }
                        }
                    }
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    axisTick: {show: true},
                    data: [
                    <volist name="dataset" id="vo">
                    '{$vo.username}',
                </volist>
                    ],
                    axisLabel:{
                        formatter: function (value, index) {
                            return value+ "{$nameOfScoreB}";
                        }
                    },
                },
                {
                    type: 'category',
                    axisTick: {show: true},
                    data: [
                    <volist name="dataset" id="vo">
                        '{$vo.username}',
                    </volist>
                    ],
                    axisLabel:{
                        formatter: function (value, index) {
                            return value+ "{$nameOfScoreA}";
                        }
                    },
                },
            ],
            series: [
                {
                    name: '前',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'right',
                        },
                    },
                    data: [
                    <volist name="dataset" id="vo">
                    {$vo.scoreA},
                </volist>
                        ]
                },
                {
                    name: '后',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'left',
                            formatter: function (data) {
                                if (data.value < 0) {
                                    return -data.value;
                                } else {
                                    return data.value;
                                }
                            }
                        }
                    },
                    data: [
                    <volist name="dataset" id="vo">
                    -{$vo.scoreB},
                </volist>
                    ]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="application/javascript">
        $(document).ready(function () {
            $("#licompare").addClass("active");
        });
    </script>
</block>