<title>互动生活馆</title>
<meta http-equiv="Content-Type"
	content="application/xhtml+xml; charset=utf-8">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">

<meta name="keywords" content="互动生活馆" />
<meta name="description" content="互动生活馆" />


<link href="__ROOT__/Public/static/bootstrap4/css/bootstrap.min.css" type="text/css"	rel="stylesheet">
<script src="__ROOT__/Public/static/jquery-2.0.3.min.js" type="application/javascript"></script>


<block name="script"></block>

<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
