<title>职业性格测试</title>
<meta http-equiv="Content-Type"
	content="application/xhtml+xml; charset=utf-8">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">

<meta name="keywords" content="职业性格测试,MBTI" />
<meta name="description" content="职业性格测试" />

<link href="__ROOT__/Public/static/bootstrap3.3.7/css/docs.min.css" rel="stylesheet">
<link href="__ROOT__/Public/static/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="data:text/css;charset=utf-8," data-href="__ROOT__/Public/static/bootstrap3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">


<script src="__ROOT__/Public/static/jquery-2.0.3.min.js" type="application/javascript"></script>
<script src="__ROOT__/Public/static/jquery.cookie.js" type="application/javascript"></script>


<block name="script"></block>

<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
